<div
  [ngClass]="{
    'blank-page':
      router.url === '/authentication' ||
      router.url === '/student_success' ||

      router.url.startsWith('/authentication/') ||
      router.url === '/coming-soon' ||
      router.url.startsWith('/student-registration')
  }"
  [class.card-borderd-theme]="themeService.isCardBorder()"
  [class.card-border-radius]="themeService.isCardBorderRadius()"
  [class.rtl-enabled]="themeService.isRTLEnabled()"
>
  <!-- If it's a blank-page route -->
  <ng-container *ngIf="router.url === '/student-registration' 
                       || router.url.startsWith('/authentication') 
                       || router.url === '/coming-soon' || router.url === '/student_success'; else mainLayout">
    <router-outlet />
  </ng-container>

  <!-- Default layout with sidebar, header, footer -->
  <ng-template #mainLayout>
    <app-sidebar />
    <div
      class="main-content transition d-flex flex-column"
      [ngClass]="{ active: isSidebarToggled }"
      [class.right-sidebar]="themeService.isRightSidebar()"
      [class.hide-sidebar]="themeService.isHideSidebar()"
    >
      <app-header />
      <router-outlet />
      <div class="flex-grow-1"></div>
      <app-footer />
    </div>
    <app-customizer-settings />
  </ng-template>
</div>
<app-loader />
