<div class="row">
    <div class="col-xxxl-3">

        <div class="row">

            <div class="row mb-25">
                <div class="col-auto">
                    <button mat-raised-button class="success-btn" type="button" (click)="downloadPdf()"
                        [disabled]="isLoading">
                        <span *ngIf="!isLoading">Download as PDF</span>
                        <span *ngIf="isLoading">
                            <i class="spinner-border spinner-border-sm me-2"></i> Downloading...
                        </span>
                    </button>
                </div>
            </div>




            <div class="col-xxxl-3" id="captureSection">
                <mat-card class="daxa-card profile-card mb-25 border-radius bg-white border-none d-block"
                    [class.component-dark-theme]="themeService.isDark()"
                    [class.rtl-enabled]="themeService.isRTLEnabled()">
                    <mat-card-header>
                        <mat-card-title>
                            <h5 class="mb-0">Student Profile</h5>
                        </mat-card-title>



                    </mat-card-header>
                    <mat-card-content>
                        <div class="user d-flex align-items-center">
                            <div class="image">
                                <img [src]="student?.studentImageUrl && student.studentImageUrl.trim() !== '' ? student.studentImageUrl : 'images/profile.jpg'"
                                    class="rounded-circle" alt="Student Image" />
                            </div>


                            <div class="title">
                                <span class="d-block fw-medium"> {{ student?.firstName }} {{ student?.lastName || ''
                                    }}</span>
                                <span class="d-block text-body">{{student?.email}}</span>
                            </div>
                        </div>

                        <div class="row mb-25">
                            <!-- Column 1: General Info -->
                            <div class="col-4">
                                <ul class="info-list pl-0 mb-0 mt-0 list-unstyled">
                                    <li><span class="text-body fw-medium">User ID:</span> # {{ student?.id }}</li>
                                    <li><span class="text-body fw-medium">Gender:</span> {{ student?.gender || '-' }}
                                    </li>

                                    <li><span class="text-body fw-medium">Email:</span> {{ student?.email || '-' }}</li>
                                    <li><span class="text-body fw-medium">Phone:</span> {{ student?.phone || '-' }}</li>
                                    <li><span class="text-body fw-medium">Created Date:</span> {{ student?.createdAt |
                                        date:'medium' }}</li>
                                    <li><span class="text-body fw-medium">Status:</span> {{ student?.status || '-' }}
                                    </li>
                                </ul>
                            </div>

                            <!-- Column 2: Personal Info -->
                            <div class="col-4">
                                <ul class="info-list pl-0 mb-0 mt-0 list-unstyled">
                                    <li><span class="text-body fw-medium">Marital Status:</span> {{
                                        student?.maritalStatus || '-' }}</li>
                                    <li><span class="text-body fw-medium">Date of Birth:</span> {{ student?.dob |
                                        date:'longDate' }}</li>
                                    <li><span class="text-body fw-medium">Nationality:</span> {{ student?.nationality ||
                                        '-' }}</li>
                                    <li><span class="text-body fw-medium">Address:</span> {{ student?.address || '-' }}
                                    </li>
                                    <li><span class="text-body fw-medium">Residence Country:</span> {{
                                        student?.residenceCountry || '-' }}</li>
                                    <!-- <li><span class="text-body fw-medium">Emirates:</span> {{ student?.emirates || '-'
                                        }}</li> -->
                                </ul>
                            </div>

                            <!-- Column 3: Education / Job / About -->
                            <div class="col-4">
                                <ul class="info-list pl-0 mb-0 mt-0 list-unstyled">
                                    <li><span class="text-body fw-medium">Qualification:</span> {{
                                        student?.qualification || '-' }}</li>
                                    <li><span class="text-body fw-medium">Organization:</span> {{ student?.orgName ||
                                        '-' }}</li>
                                    <li><span class="text-body fw-medium">Job Title:</span> {{ student?.jobTitle || '-'
                                        }}</li>
                                    <!-- <li><span class="text-body fw-medium">Visa Status:</span> {{ student?.visaStatus ||
                                        student?.visa_status || '-' }}</li> -->
                                    <li><span class="text-body fw-medium">Other Status:</span> {{ student?.otherStatus
                                        || '-' }}</li>

                                    <li><span class="text-body fw-medium">About Me:</span> {{ student?.description ||
                                        'N/A' }}</li>
                                </ul>
                            </div>
                        </div>



                    </mat-card-content>
                </mat-card>

            </div>

            <!-- RIGHT SIDE -->
            <div class="col-xxxl-9">
                <div class="row">


                    <!-- Form Side -->
                    <div class="col-md-12">
                        <mat-card class="daxa-card edit-contact-card mb-25 border-radius bg-white border-none d-block">
                            <mat-card-content>
                                <form [formGroup]="paymentForm" (ngSubmit)="onSubmitPayment()">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-25">
                                                <label class="main-label d-block lh-1 text-black mb-15">Course</label>
                                                <mat-form-field>
                                                    <mat-label>Select course</mat-label>


                                                    <mat-select formControlName="course_id">
                                                        <mat-option *ngFor="let course of courses" [value]="course.id">
                                                            {{ course.service_name }} ( {{ course.price
                                                            }} )
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="mb-25">
                                                <label class="main-label d-block lh-1 text-black  mb-15">Payment
                                                    Type</label>
                                                <mat-form-field>
                                                    <mat-label>Select type</mat-label>
                                                    <mat-select formControlName="payment_type">
                                                        <mat-option value="full">Full Payment</mat-option>
                                                        <mat-option value="emi">EMI</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="col-md-6" *ngIf="paymentForm.get('payment_type')?.value === 'emi'">
                                            <div class="mb-25">
                                                <label class="main-label d-block lh-1 text-black  mb-15">EMI
                                                    Months</label>
                                                <mat-form-field>
                                                    <mat-label>Enter months</mat-label>
                                                    <mat-select formControlName="emi_months">
                                                        <mat-option *ngFor="let month of [1,2,3,4,5,6,7,8,9,10,11,12]"
                                                            [value]="month">
                                                            {{month}}
                                                        </mat-option>
                                                    </mat-select> </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="mb-25">
                                                <label class="main-label d-block lh-1 text-black  mb-15">Start
                                                    Date</label>
                                                <mat-form-field>
                                                    <input matInput [matDatepicker]="picker"
                                                        formControlName="start_date" />
                                                    <mat-datepicker-toggle matSuffix
                                                        [for]="picker"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="mb-25">
                                                <label class="main-label d-block lh-1 text-black  mb-15">
                                                    Discount
                                                </label>
                                                <mat-form-field>
                                                    <mat-label> Enter discount</mat-label>
                                                    <input type="number" matInput formControlName="discount">

                                                </mat-form-field>
                                            </div>
                                        </div>

                                         <div class="col-md-6">
                                            <div class="mb-25">
                                                <label class="main-label d-block lh-1 text-black  mb-15">
                                                    Advance Payment
                                                </label>
                                                <mat-form-field>
                                                    <mat-label> Enter discount</mat-label>
                                                    <input type="number" matInput formControlName="advance">

                                                </mat-form-field>
                                            </div>
                                        </div>


                                    </div>


                                    <div class="btn-box">

                                        <button mat-button type="submit">
                                            <span *ngIf="isSubmitting" class="spinner-border spinner-border-sm me-1"
                                                role="status" aria-hidden="true"></span>
                                            Create Payment
                                        </button>


                                    </div>


                                </form>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <div class="col-xxxl-9">
        <mat-card class="daxa-card all-projects-card mb-25 border-radius bg-white border-none d-block"
            [class.rtl-enabled]="themeService.isRTLEnabled()">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Payments
                    </h5>
                </mat-card-title>
                <mat-card-subtitle>
                    <!-- <button type="button" mat-button class="card-header-menu-btn" [matMenuTriggerFor]="cardHeaderMenu">
                        This Month
                    </button>
                    <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                        <button mat-menu-item>
                            This Day
                        </button>
                        <button mat-menu-item>
                            This Week
                        </button>
                        <button mat-menu-item>
                            This Month
                        </button>
                        <button mat-menu-item>
                            This Year
                        </button>
                    </mat-menu> -->
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="all-projects-table">
                    <div class="table-responsive">
                        <table mat-table [dataSource]="dataSource" multiTemplateDataRows>



                            <!-- Project Name Column -->
                            <ng-container matColumnDef="course_name">
                                <th mat-header-cell *matHeaderCellDef>
                                    Course Name
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.course_name}}
                                </td>
                            </ng-container>

                            <!-- Client Column -->
                            <ng-container matColumnDef="payment_type">
                                <th mat-header-cell *matHeaderCellDef>
                                    Payment Type
                                </th>
                                <td mat-cell *matCellDef="let element" class="text-black">
                                    {{element.payment_type}}
                                </td>
                            </ng-container>

                            <!-- Start Date Column -->
                            <ng-container matColumnDef="installment_amount">
                                <th mat-header-cell *matHeaderCellDef>
                                    Installment Amount
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.installment_amount}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="paid_amount">
                                <th mat-header-cell *matHeaderCellDef>
                                    Paid Amount
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.paid_amount}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="balance">
                                <th mat-header-cell *matHeaderCellDef>
                                    Balance
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.balance}}
                                </td>
                            </ng-container>
                            <!-- End Date Column -->
                            <ng-container matColumnDef="due_date">
                                <th mat-header-cell *matHeaderCellDef>
                                    Due Date
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.due_date}}
                                </td>
                            </ng-container>






                            <ng-container matColumnDef="is_paid">
                                <th mat-header-cell *matHeaderCellDef>
                                    Status
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <span class="daxa-badge active d-inline-block" *ngIf="element.is_paid">
                                        Paid
                                    </span>
                                    <span class="daxa-badge deactive d-inline-block" *ngIf="!element.is_paid">
                                        Unpaid
                                    </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="approve">
                                <th mat-header-cell *matHeaderCellDef>
                                    Payment
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <!-- [checked]="tracking" -->
                                    <button mat-raised-button class="success-btn" type="button"
                                        (click)="openConfirmDialog(element.id)">Pay</button>

                                </td>
                            </ng-container>

                            <!-- Action Column -->
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef> Action </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="action-info">
                                        <a mat-button routerLink="/profile"
                                            [queryParams]="{ student_id: element.student_id }" matTooltip="View"
                                            matTooltipPosition="above">
                                            <i class="material-symbols-outlined">
                                                visibility
                                            </i>
                                        </a>

                                        <a mat-button matTooltip="Edit Payment" (click)="onEditInstallment(element)"
                                            matTooltipPosition="above">
                                            <i class="material-symbols-outlined">
                                                edit
                                            </i>
                                        </a>

                                        <a mat-button matTooltip="Edit Payment" (click)="openConfirmBox(element.id,'PAYMENT')"
                                            matTooltipPosition="above">
                                            <i class="material-symbols-outlined">
                                            delete
                                            </i>
                                        </a>

                                        <button mat-icon-button (click)="toggleExpand(element)">
                                            <mat-icon matTooltip="Show Details">
                                                {{expandedElement === element ? 'expand_less' : 'expand_more'}}
                                            </mat-icon>
                                        </button>


                                    </div>
                                </td>
                            </ng-container>


                            <ng-container matColumnDef="expandedDetail">
                                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                                    <div *ngIf="expandedElement === element && element.history?.length > 0">





                                        <!-- 🔹 Header Row -->
                                        <div class="row fw-bold text-center mb-25">
                                            <!-- <div class="col-1"></div> -->

                                            <div class="col-1">Amount</div>
                                            <div class="col-1"></div>

                                            <div class="col-2">Mode</div>
                                            <div class="col-1"></div>

                                            <div class="col-2">Date</div>
                                            <div class="col-1"></div>

                                            <div class="col-1">Reciept</div>
                                            <div class="col-1"></div>

                                            <div class="col-1">Action</div>


                                        </div>

                                        <!-- 🔹 Data Rows -->
                                        <div *ngFor="let d of element.history" class="row mb-2 me-2 text-center">
                                            <!-- <div class="col-1"></div> -->

                                            <div class="col-1 alert alert-dark">
                                                {{ d.amount }}
                                            </div>
                                            <div class="col-1"></div>

                                            <div class="col-2 alert alert-dark">
                                                {{ d.mode_of_transaction }}
                                            </div>
                                            <div class="col-1"></div>

                                            <div class="col-2 alert alert-dark">
                                                {{ d.payment_date }}
                                            </div>
                                            <div class="col-1"></div>

                                            <div class="col-1 alert alert-dark">
                                                <mat-icon matTooltip="Download Reciept">
                                                    download
                                                </mat-icon>

                                            </div>
                                            <div class="col-1"></div>

                                            <div class="col-1 alert alert-dark">

                                                <mat-icon matTooltip="Delete" (click)="openConfirmBox(d.id,'HISTORY')">
                                                    delete
                                                </mat-icon>
                                            </div>




                                        </div>



                                    </div>
                                </td>
                            </ng-container>







                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"
                                [class.expanded]="expandedElement === row">
                            </tr>

                            <!-- Expanded Row -->
                            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="10">No data matching the filter </td>
                            </tr>

                        </table>
                    </div>
                    <mat-paginator [length]="totalRecords" [pageSize]="20" showFirstLastButtons>
                    </mat-paginator>
                </div>
            </mat-card-content>
        </mat-card>

    </div>
</div>



<ng-template #confirmDialog let-data>
    <h1 mat-dialog-title class="confirm-title">Payment</h1>

    <div mat-dialog-content class="confirm-content">
        <form [formGroup]="paymentSubmitForm">
            <div class="row border p-2 mb-25 rounded">

                <!-- Date -->
                <div class="col-md-4 col-sm-5 mb-25">
                    <mat-form-field class="w-100">
                        <mat-label>Payment Date</mat-label>
                        <input matInput [matDatepicker]="payDate" formControlName="payment_date">
                        <mat-datepicker-toggle matIconSuffix [for]="payDate"></mat-datepicker-toggle>
                        <mat-datepicker #payDate></mat-datepicker>
                    </mat-form-field>
                </div>

                <!-- Mode of Payment -->
                <div class="col-md-4 col-sm-5 mb-25">
                    <mat-form-field class="w-100">
                        <mat-label>Mode of Payment</mat-label>
                        <mat-select formControlName="mode_of_payment">
                            <mat-option value="cash">Cash</mat-option>
                            <mat-option value="cheque">Cheque</mat-option>
                            <mat-option value="online">Online Transfer</mat-option>
                            <mat-option value="upi">UPI</mat-option>
                            <mat-option value="card">Card</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <!-- Amount -->
                <div class="col-md-4 col-sm-5 mb-25">
                    <mat-form-field class="w-100">
                        <mat-label>Amount</mat-label>
                        <input type="number" matInput formControlName="amount">
                    </mat-form-field>
                </div>

            </div>
        </form>
    </div>

    <div mat-dialog-actions class="confirm-actions">
        <button mat-flat-button color="warn" class="confirm-btn" (click)="onCancel()">
            Cancel
        </button>
        <button mat-flat-button color="primary" class="confirm-btn" [disabled]="paymentSubmitForm.invalid"
            (click)="onSubmitPaymentConfirmation(data.id)" cdkFocusInitial>
            Submit
        </button>
    </div>
</ng-template>




<ng-template #confirmDialogEdit let-data>
    <h1 mat-dialog-title class="confirm-title">Edit Payment Details</h1>

    <div mat-dialog-content class="confirm-content">
        <form [formGroup]="editPaymentForm">
            <div class="row border p-2 mb-25 rounded">

                <!-- Date -->
                <div class="col-md-6 col-sm-5 mb-25">
                    <mat-form-field class="w-100">
                        <mat-label>Due Date</mat-label>
                        <input matInput [matDatepicker]="payDate" formControlName="change_due_date">
                        <mat-datepicker-toggle matIconSuffix [for]="payDate"></mat-datepicker-toggle>
                        <mat-datepicker #payDate></mat-datepicker>
                    </mat-form-field>
                </div>



                <!-- Amount -->
                <div class="col-md-6 col-sm-5 mb-25">
                    <mat-form-field class="w-100">
                        <mat-label>Amount</mat-label>
                        <input type="number" matInput formControlName="change_amount">
                    </mat-form-field>
                </div>

            </div>
        </form>
    </div>

    <div mat-dialog-actions class="confirm-actions">
        <button mat-flat-button color="warn" type="reset" class="confirm-btn" (click)="onCancel()">
            Cancel
        </button>
        <button mat-flat-button color="primary" class="confirm-btn" (click)="onSubmitEditPayment(data.id)"
            cdkFocusInitial>
            Submit
        </button>
    </div>
</ng-template>


<!-- Confirmation Modal -->
<ng-template #confirmDialogBox let-data>
    <h2 mat-dialog-title>Confirm Action</h2>
    <mat-dialog-content>
        Are you sure you want to delete this record?

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button (click)="onCancel()">Cancel</button>
        <button mat-raised-button color="primary" (click)="confirmDelete(data.id , data.type)" cdkFocusInitial> Confirm</button>
    </mat-dialog-actions>
</ng-template>